<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317078627715-sqmg17bcu11bh2ea9feg71n8anbcj444.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317078627715-sqmg17bcu11bh2ea9feg71n8anbcj444</string>
	<key>API_KEY</key>
	<string>AIzaSyDnRbH_7Qo9AaguSbzX08d22PgmS7hjuiE</string>
	<key>GCM_SENDER_ID</key>
	<string>317078627715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quiero.salir</string>
	<key>PROJECT_ID</key>
	<string>quiero-salir-51c68</string>
	<key>STORAGE_BUCKET</key>
	<string>quiero-salir-51c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317078627715:ios:75bdfd5673e9d5992102b6</string>
	<key>DATABASE_URL</key>
	<string>https://quiero-salir-51c68.firebaseio.com</string>
</dict>
</plist>